/* Font */
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Nunito&family=Raleway&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{font-family: 'Ubuntu', sans-serif;
} 


/*Header*/
header{
    background-color: #87aeb6;
    font-size: 1.2rem;
    font-weight: bold;

    .nav-link{
        text-decoration: none;
        color: aliceblue;
    }
}


/* Todos los Main */
main{  
    background-color: #ca9e3f;
    padding-bottom: 3%;
}